:root {
    /* основные цвета */
    --basic_white: #FFFFFF;
    --basic_black: #000000;
    --special_black: #333333;
    --basic_blue: #81B3D2;
    --hover_blue: #669EC0;
    --active_blue: #5496BD;
    --basic_brown: #766357;
    --hover_brown: #604E43;
    --active_brown: #503E33;
    --basic_grey: #F2F2F2;
    --active_grey: #EBEBEB;
    --bg_grey: #EEEEEE;
    /* (используются редко) */
    --special_plus_minus: #A9A9A9;
    --special_border_line: #E5E5E5;
    --special_raiting: #666666;
    --special_arrow: #CACACA;
    --special_scroll: #ABABAB;
    /* rbga */
    --rbga_grey: rgba(255, 255, 255, 0.3);
    --rbga_black: rgba(0, 0, 0, 0.3);
    --rgba_light_grey: rgba(255, 255, 255, 0.9);
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans.woff2");
    src: url("../fonts/ptsans.woff");
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsansbold.woff2");
    src: url("../fonts/ptsansbold.woff");
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic_grey);
    color: var(--basic_black);
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

/* Секция меню */

.navigation {
    background-color: var(--basic_white);
    position: relative;
}

.navigation_menu {
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: bold;
    height: 56px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.navigation_menu_item {
    display: block;
    width: 170px;
}

.navigation_menu_item:nth-child(1) {
    margin-left: 71px;
    text-align: left;
}

.navigation_menu_item:nth-child(2) {
    margin-left: 61px;
    text-align: left;
}

.navigation_menu_item:nth-child(2) {
    margin-left: 61px;
    text-align: left;
}

.navigation_menu_item:nth-child(3) {
    margin-left: 260px;
    text-align: right;
}

.navigation_menu_item:nth-child(4) {
    margin-left: 57px;
    text-align: right;
}

.navigation_logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.navigation_menu_item_link {
    color: var(--basic_black);
}

.navigation_menu_item_link:hover, .navigation_menu_item_link:focus {
    color: var(--basic_blue);
    cursor: pointer;
}

.navigation_menu_item_link:active {
    color: var(--rbga_black);
}

.navigation_menu_item_link_active {
    color: var(--basic_brown);
}

/* Секция main */

.section_welcome {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 509px;
    background-color: #d2e5f1;
    background-image: url('../img/svg-sedona/intro-mask.svg'), url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: bottom, center;
}

.welcome_section_img {
    display: block;
    margin: 0 auto;
}

.section_reasons {
    width: 1200px;
    margin: 0 auto;
    background-color: var(--basic_white);
}

.reasons_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 51px;
}

.section_reasons_title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 44px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.section_reasons_text {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--special_black);
}

.section_reasons ol {
    margin: 0;
    padding: 0;
}

/* Блок преемуществ */

.features-list {
    list-style: none;
    line-height: 21px;
    color: var(--basic_white);
    background-color: var(--basic_blue);
}

.features-list h3 {
    font-size: 21px;
}

.features-list p {
    font-size: 14px;
}

.imggg {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 28px;
}

.number {
    padding-bottom: 23px;
}

/* Голубой блок №1 */

.feature-item-blue-bg {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 400px 800px;
    text-align: center;
    color: var(--basic_white);
    height: 256px;
    background-color: var(--basic_blue);
}

.feature-item-blue-bg p {
    margin: auto;
}

.paragraph_blue {
    padding-bottom: 54px;
}

.feature-item-blue-bg h3 {
    margin: 0;
    line-height: 21px;
    padding-top: 47px;
    padding-bottom: 25px;
}

/* Белый блок №2 */

.feature-item-white-bg {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: var(--basic_black);
    height: 330px;
    background-color: var(--basic_white);
}

.feature-item-white-bg p {
    margin: auto;
    color: var(--special_black);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 82px;
}

.feature-item-white-bg h3 {
    margin: 0;
    padding-bottom: 25px;
}

/* Голубой блок №3 */

.feature-item-blue-bg-second {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 800px 400px;
    text-align: center;
    color: var(--basic_white);
    height: 256px;
    background-color: var(--basic_blue);
}

.feature-item-blue-bg-second p {
    margin: auto;
}

.paragraph_blue_second {
    padding-bottom: 51px;
}

.feature-item-blue-bg-second h3 {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 25px;
}

/* Серый блок №4 */

.feature-item-grey-bg {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: var(--basic_black);
    height: 256px;
    background-color: var(--bg_grey);
}

.feature-item-grey-bg p {
    margin: auto;
    color: var(--special_black);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.paragraph_grey {
    padding-bottom: 54px;
}

.feature-item-grey-bg h3 {
    margin: 0;
    padding-top: 47px;
    padding-bottom: 25px;
}

/* Секция заказа */

.section_order {
    background-color: var(--basic_white);
}

.section_order_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    background-color: var(--basic_white);
}

.section_order_title {
    margin-top: 0px;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 32px;
}

.section_order_text {
    margin-top: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--special_black);
    margin-bottom: 39px;
    text-align: center;
}

.section_order_button {
    width: 568px;
    height: 86px;
    padding: 30px 125px;
    font: var(--basic_black);
    text-align: center;
    color: var(--basic_white);
    border: none;
    text-transform: uppercase;
    background-color: var(--basic_brown);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.section_order_button:hover, .section_order_button:focus {
    background-color: var(--hover_brown);
    cursor: pointer;
}

.section_order_button:active {
    color: var(--rbga_grey);
    background-color: var(--active_brown);
}

.form_search {
    display: none;
}

/* Секция footer */

.footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: var(--rgba_light_grey);
    align-items: center;
    padding: 0 73px 0 73px;
}

.footer_item {
    width: 400px;
}

.footer_item:first-child {
    width: 326px;
}

.footer_item:last-child {
    width: 326px;
}

.footer_item_social_links {
    display: flex;
    justify-content: center;
}

.footer_catalog {
    display: flex;
    background-color: var(--basic_white);
}

.footer_item_social_contacts {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.footer_item_text {
    margin: 0;
    margin-bottom: 9px;
}

.footer_item_social_contacts a {
    color: var(--basic_black);
}

.social_link_list {
    display: flex;
    margin: 0;
    padding: 0px;
    list-style: none;
}

.social_link_list li:not(:last-child) {
    margin-right: 6px;
}

.social_link {
    background-color: var(--basic_blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
}

.section_contact_text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 9px;
}

.social_link:hover, .social_link:focus {
    background-color: var(--hover_blue);
}

.social_link:active {
    background-color: var(--active_blue);
}

.social_link svg {
    fill: #FFF;
}

.social_link:active svg {
    fill: var(--rbga_grey);
}

.footer_item_developer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}

.footer_item_developer_website {
    margin-right: 8px;
}

/* Страница catalog */

.filter {
    width: 100%;
    color: var(--basic_white);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-color: var(--basic_blue);
    height: 217px;
}

.infrastructure {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 119px;
    margin-left: 72px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.infrastructure li:first-child {
    margin-top: 24px;
}

.infrastructure li:not(:last-child) {
    margin-bottom: 25px;
}

.accommodation_type {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 32px;
}

.accommodation_type li:first-child {
    margin-top: 24px;
}

.accommodation_type li:not(:last-child) {
    margin-bottom: 25px;
}

.price_per_day_form {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: 12px;
}

.price_per_day_form p {
    margin-bottom: 10px;
}

.filter legend {
    font-weight: bold;
}

fieldset p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

fieldset label {
    font-size: 14px;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}

.button_for_filter {
    width: 137px;
    height: 36px;
    color: var(--basic_white);
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    border: 2px solid var(--basic_white);
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 53px;
    margin-bottom: 32px;
    margin-left: 95px;
}

.button_for_filter:hover, .button_for_filter:focus {
    background-color: var(--basic_white);
    color: var(--basic_black);
    cursor: pointer;
}

/* Страница фильтр */

.filter_result {
    background-color: var(--basic_white);
}

.filter_sort {
    display: flex;
    align-items: center;
    height: 86px;
    padding: 0 73px 0 73px;
}

.filter_result_matching {
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.filter_sorting_buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.filter_sorting_buttons li:not(:last-child) {
    margin-right: 33px;
}

.arrows_filter {
    margin-left: auto;
}

.filter_arrow {
    background: none;
    border: 0;
}

.filter_arrow svg {
    fill: var(--special_arrow);
    cursor: pointer;
}

.filter_arrow:hover svg {
    fill: var(--basic_black);
    cursor: pointer;
}

.filter_arrow:active svg {
    fill: var(--basic_blue);
    cursor: pointer;
}

.filter_arrow_active svg {
    fill: var(--basic_blue);
}

.filter_result_matching_sorting {
    margin-left: 46px;
    margin-right: 40px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.filter_result_sorting_buttons_item {
    color: var(--basic_black);
    color: var(--rbga_black);
    border: none;
    border-bottom: 1px dashed var(--basic_blue);
    background-color: transparent;
    padding: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.filter_result_sorting_buttons_item:hover {
    color: var(--basic_blue);
    cursor: pointer;
}

.filter_result_sorting_buttons_item:active {
    color: var(--basic_black);
}

.filter_result_sorting_buttons_item_active {
    color: var(--basic_blue);
    border: none;
}

/* Каталог найденных отелей */

.filter_result_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter_result_list_item {
    width: 100%;
    display: flex;
    padding: 24px 73px 30px;
    border-bottom: 1px solid var(--special_border_line);
    box-sizing: border-box;
}

.filter_result_list_item:first-child {
    border-top: 1px solid var(--special_border_line);
}

.filter_result_list_item:hover {
    cursor: pointer;
}

.filter_result_list_item:hover .filter_result_list_item_title {
    color: var(--basic_blue);
}

.filter_result_list_item:active .filter_result_list_item_title {
    color: var(--basic_black);
    opacity: 0.3;
}

.filter_result_list_item_img {
    margin-top: 6px;
    width: 135px;
    height: 90px;
    display: black;
    margin-right: 29px;
}

.filter_result_list_item_inner {
    display: flex;
}

.filter_result_list_item_inner_info {
    margin-right: 6px;
}

.filter_result_list_item_title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 7px;
}

.filter_result_list_item_text {
    font-size: 14px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 18px;
}

.filter_result_list_rating {
    padding-top: 6px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.filter_result_list_rating_inner {
    display: flex;
}

.filter_result_list_item_raiting {
    font-size: 14px;
    line-height: 21px;
    padding: 3px 12px 3px 15px;
    font-weight: normal;
    line-height: 21px;
    color: var(--special_raiting);
    background-color: var(--basic_grey);
}

.filter_result_list_item_star {
    display: block;
    width: 19px;
    height: 17px;
    background-image: url("../img/svg-sedona/star.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.filter_result_list_item_star:not(:last-child) {
    margin-right: 5px;
}

.filter_result_list_item_btn {
    padding: 5px 16px 5px 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic_white);
    background-color: var(--basic_blue);
}

.filter_result_list_item_btn:hover {
    background-color: var(--hover_blue);
    cursor: pointer;
}

.filter_result_list_item_btn:active {
    color: var(--rbga_grey);
    background-color: var(--active_blue);
}

.filter_result_list_item_btn_secondary {
    background-color: var(--basic_brown);
}

.filter_result_list_item_btn_secondary:hover {
    background-color: var(--hover_brown);
}

.filter_result_list_item_btn_secondary:active {
    background-color: var(--active_brown);
}