:root {
    /* основные цвета */
    --basic_white: #FFFFFF;
    --basic_black: #000000;
    --special_black: #333333;
    --basic_blue: #81B3D2;
    --hover_blue: #669EC0;
    --active_blue: #5496BD;
    --basic_brown: #766357;
    --hover_brown: #604E43;
    --active_brown: #503E33;
    --basic_grey: #F2F2F2;
    --active_grey: #EBEBEB;
    --bg_grey: #EEEEEE;
    /* (используются редко) */
    --special_plus_minus: #A9A9A9;
    --special_border_line: #E5E5E5;
    --special_raiting: #666666;
    --special_arrow: #CACACA;
    --special_scroll: #ABABAB;
    /* rbga */
    --rbga_grey: rgba(255, 255, 255, 0.3);
    --rbga_black: rgba(0, 0, 0, 0.3);
    --rgba_light_grey: rgba(255, 255, 255, 0.9);
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans.woff2");
    src: url("/fonts/ptsans.woff");
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsansbold.woff2");
    src: url("/fonts/ptsansbold.woff");
}

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic_grey);
    color: var(--basic_black);
    min-width: 1200px;
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

/* Секция меню */

.navigation {
    background-color: var(--basic_white);
}

.navigation_menu {
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: bold;
}

.navigation_menu a {
    color: var(--basic_black);
}

.navigation_menu a:hover, .navigation_menu a:focus {
    color: var(--basic_blue);
    cursor: pointer;
}

.navigation_menu a:active {
    color: var(--rbga_black);
    mix-blend-mode: normal;
}

.navigation_list_item_link_active:visited {
    color: var(--basic_brown);
}

/* Секция main */

.section_welcome {
    background-color: #d2e5f1;
    background-image: url('/img/svg-sedona/intro-mask.svg'), url("/img/background_photo.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: bottom, center;
}

.section_reasons {
    background-color: var(--basic_white);
}

.section_reasons_title {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.section_reasons_text {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--special_black);
}

/* Features */

.features-list {
    list-style: none;
    line-height: 21px;
}

.features-list h3 {
    font-size: 21px;
}

.features-list p {
    font-size: 14px;
}

.feature-item-blue-bg {
    color: var(--basic_white);
    background-color: var(--basic_blue);
}

.feature-item-white-bg {
    list-style: none;
    background-color: var(--basic_white);
}

.feature-item-white-bg p {
    color: var(--special_black);
}

.feature-item-grey-bg {
    background-color: var(--bg_grey);
}

.feature-item-grey-bg p {
    color: var(--special_black);
}

/* Секция заказа */

.section_order {
    background-color: var(--basic_white);
}

.section_order_title {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
}

.section_order_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--special_black);
}

.section_order_button {
    font: var(--basic_black);
    text-align: center;
    color: var(--basic_white);
    border: 1px solid var(--special_black);
    text-transform: uppercase;
    background-color: var(--basic_brown);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.section_order_button:hover, .section_order_button:focus {
    background-color: var(--hover_brown);
    cursor: pointer;
}

.section_order_button:active {
    color: var(--rbga_grey);
    background-color: var(--active_brown);
}

.form_search {
    display: none;
}

/* Секция footer */

.footer {
    background-color: var(--rgba_light_grey);
}

.footer_catalog {
    background-color: var(--basic_white);
}

.section_contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.section_contacts a {
    color: var(--basic_black);
}

.section_social_contacts {
    text-align: center;
}

.social_links_list li {
    list-style: none;
}

.social_links {
    background-color: var(--basic_blue);
}

.social_links:hover, .social_links:focus {
    background-color: var(--hover_blue);
}

.social_links:active {
    background-color: var(--active_blue);
}

.social_links svg {
    fill: #FFF;
}

.social_links:active svg {
    fill: var(--rbga_grey);
}

.section_contacts_developer {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}

/* Страница catalog */

.filter {
    width: 100%;
    background-color: #d2e5f1;
    color: var(--basic_white);
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.filter legend {
    font-weight: bold;
}

fieldset p {
    font-weight: bold;
}

fieldset label {
    font-size: 14px;
}

.filter ul {
    list-style: none;
}

fieldset {
    border: none;
}

.button_for_filter {
    color: var(--basic_white);
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    border: 2px solid var(--basic_white);
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.button_for_filter:hover, .button_for_filter:focus {
    background-color: var(--basic_white);
    color: var(--basic_black);
    cursor: pointer;
}
/* 
.checkbox {
	position:relative;
	padding-left:25px;
}
.checkbox input[type=checkbox] {
	display:none;
}
.checkbox label:after {
	content:'';
	display:block;
	height:14px;
	width:14px;
	outline:1px solid #939598;
	position:absolute;
	top:0;
	left:0;
}
.checkbox input[type=checkbox]:checked + label:after {
	outline:1px solid #939598;
	border:2px solid #fff;
	width:10px;
	height:10px;

} */


/* Страница фильтр */

.filter_result {
    background-color: var(--basic_white);
}

.filter_result_matching {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.filter_sorting_buttons {
    list-style: none;
}

.filter_result_matching_sorting {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.filter_result_sorting_buttons_item {
    color: var(--basic_black);
    color: var(--rbga_black);
    border: none;
    border-bottom: 1px dashed var(--basic_blue);
    background-color: transparent;
    padding: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.filter_result_sorting_buttons_item:hover {
    color: var(--basic_blue);
    cursor: pointer;
}

.filter_result_sorting_buttons_item:active {
    color: var(--basic_black);
}

.filter_result_sorting_buttons_item_active {
    color: var(--basic_blue);
    border: none;
}

/* Каталог найденных отелей */

.filter_result_list_item-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.filter_result_list_item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--special_black);
}

.filter_result_list_item_price {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--special_black);
}

.filter_result_list_item_raiting {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--special_raiting);
    background-color: var(--basic_grey);
}

.filter_result_list_item_more_details {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic_white);
    background-color: var(--basic_blue);
}

.filter_result_list_item_more_details:hover {
    background-color: var(--hover_blue);
    cursor: pointer;
}

.filter_result_list_item_more_details:active {
    color: var(--rbga_grey);
    background-color: var(--active_blue);
}

.filter_result_list_item_reservation {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic_white);
    background-color: var(--basic_brown);
}

.filter_result_list_item_reservation:hover {
    background-color: var(--hover_brown);
    cursor: pointer;
}

.filter_result_list_item_reservation:active {
    color: var(--rbga_grey);
    background-color: var(--active_brown);
}

.filter_result_list_item:hover {
    cursor: pointer;
}

.filter_result_list_item:hover .filter_result_list_item-title {
    color: var(--basic_blue);
}

.filter_result_list_item:active .filter_result_list_item-title {
    color: var(--basic_black);
    mix-blend-mode: normal;
    opacity: 0.3;
}